@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR&family=PT+Mono&display=swap');
  
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'PT Mono', monospace;
*/

.Login {
    text-align: center;
  }
  
  .Login-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Login-logo {
      animation: Login-logo-spin infinite 20s linear;
    }
  }
  
  .Login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'PT Mono', monospace;
    text-align: center;
  }

  .loginId {
    margin-top: 30px;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
  }
  input::placeholder {
    color: #999999;
    font-family: 'Noto Sans KR', sans-serif;

  }
  .loginPw {
    margin-top: 15px;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
  }

  .loginBtn {
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 13px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-style: none;
    border-radius: 25px;
  }

  .SignupBtn {
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: underline;
    text-underline-position: under;

    padding: 13px 30px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.0);
    color: white;
    line-height: 1px;
    margin-bottom: 12px;
    border-style: none;
    border-radius: 25px;
  }
    
  @keyframes Login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  