  .Main {
    margin-top: 0px;

    display: flex;
    flex-direction: column;
  }
  
  .sidebar{
    position: fixed;
    margin-top: 0px;
    height: 100%;
    z-index: 2;
  }

  
  .content {
    width: 100%;
    z-index: 1;

    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .assignment{
    height: 100vh;

    display: flex;
  }

  .assignment_title{
    display: block;
    font-weight: bold;
    font-size: 32px;
  }


