@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR&family=PT+Mono&display=swap');
  
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'PT Mono', monospace;
*/


  .Main {
    margin-top: 0px;

    display: flex;
    flex-direction: column;
  }
  
  .sidebar{
    position: fixed;
    margin-top: 0px;
    height: 100%;
    z-index: 2;
  }

  
  .content {
    width: 100%;
    z-index: 1;

    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .assignment{
    display: table;
    
    width: 100%;
    height: 100vh;

    text-align: center;
    
  }

  .assignment_wrapper{
    display: table-cell;
    vertical-align: middle;
  }

  .assignment_title{
    font-weight: 500;
    font-size: 48px;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .minimap_title, .locker_title{
    color: #1D4E89;
    font-size: 18px;

    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .assignment_minimap, .assignment_locker{
    margin-bottom: 10vh;
  }

  .locker_guideline{
    /* padding: 10px; */
    display: inline;
  }
  .locker_guideline td{

    font-family: 'Noto Sans KR', sans-serif;
  }

  .up-on-scroll{
    transition: transform 0.7s, opacity 1s;
  }

  /*Intro*/

  .intro{
    display: table;

    width: 100%;
    height: 100vh;

    align-items: center;

  }
  .intro_wrapper{
    display: table-cell;
    vertical-align: middle;
  }

  .intro_title{
    margin: auto;
    font-weight: bold;
    font-size: 48px;
    font-family: 'PT Mono', monospace;
    display:  flex;
  }
  .intro_title div{
    margin: auto;
    font-weight: bold;
    
    display:  inline;
  }

  .intro_content{
    text-align: center;
    font-size: 18px;

    font-family: 'Noto Sans KR', sans-serif;
  }
  .intro_btn{
    display: flex;
    margin: auto;

    background-color: #282c34;
    color: white;
    font-size: 18px;

    border-radius: 5px;
    border: 0pxre;
  }

  .intro_btn:hover{
    background-color: #D9E5FF;
    color: black;
  }