@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR&family=PT+Mono&display=swap');
  
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'PT Mono', monospace;
*/

.Manage {
    margin-top: 0px;
    display: flex;
}

.sidebar{
    position: fixed;
    margin-top: 0px;
    height: 100%;
    z-index: 2;
}


.manage-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex:1;
}
.title-manage{
    width: 100%;
    height: 25%;
    /* background-color: #1D4E89; */
    font-size: 30px;

    display: table;

    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content:center; */
    /* align-items: center; */
}
.list-title-manage{
    width: 100%;
    height: 20%;
    /* background-color: #1D4E89; */
    font-size: 30px;

    display: table;

    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content:center; */
    /* align-items: center; */
}
.titletxt-manage{
    width: 100%;
    height: 40px;

    font-weight: 500;
    font-size: 48px;
    font-family: 'Noto Serif KR', serif;
    /* color: whitesmoke; */
    color: black;

    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
}
.content-manage {
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content-container {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
    width: 600px;
    height: 550px;
}
.list-title{
    width: 100%;
    height: 40px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: #1D4E89;
    font-weight: 500;
    
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;

    display: table-cell;
    vertical-align: middle;
}


.list-container {
    /* display: flex;
    flex-direction: column; */
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    height: 500px;
    border: 1px solid grey;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-group {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    padding-bottom: 3px;
}
.list-group li:first-child {
    margin-top: 6px;
}

.list-group li span {
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: 300; */
    font-size: 18px;
    letter-spacing: 0.8px;
}

.idtext{
    width: 150px;
    font-weight: 500;
}

.nametext{
    width: 80px;
    color: slategray;
    font-weight: 300;
}
.phtext{
    width: 150px;
    color: slategray;
    font-weight: 300;
}

.btn {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 1px;
    border-style: none;
    border-radius: 20px;
}
#register {
    background-color: #1D4E89;
}
#unregister {
    background-color: #A6A6A6;
}