.locker_border{
    margin: auto; 
    /* width: 50vh; */
    
    /* border: 2px solid black;  */
    display: table;
}

/* .locker_wrapper{
    margin:auto;

    display: table-cell;
    vertical-align: middle;

    border: 2px solid black; 
} */
