
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR&family=PT+Mono&display=swap');
  
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'PT Mono', monospace;
*/


.locker_border{
    margin: auto; 
    /* width: 50vh; */
    
    /* border: 2px solid black;  */
    display: table;
}

.locker_item{
    font-family: 'Noto Serif KR', serif;
}