@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Noto+Serif+KR&family=PT+Mono&display=swap');
  
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'PT Mono', monospace;
*/

.sidebar {
    width: 60px;
    /* padding: 10px 1px 0; */
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

.expanded {
  width: 200px;
  height: 100%;
  background: #282c34;
  color: white;
}

.icon_collapsed, .icon_expanded{
  width: 24px;
  height: 24px;
  object-fit: cover;

  margin-left: 10px;
  margin-top: 10px;
}

.sidebar_contents{
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.user_info{
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
  font-weight: lighter;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.btn_logout{
  height: 40px;
  vertical-align: middle;

  border: 1px solid #D9E5FF;;
  background-color: white;
  color: black;

  font-size: 15px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;

  border-radius: 10px;
  
}

.btn_logout:hover{
  background-color: #D9E5FF;
  /* color: white;  */
}

.icon_logout{
  width: 18px;
  height: 18px;
  object-fit: cover;

  margin-right: 5px;
 
}
.nav{
  padding-inline-start: 0;
  text-align: center;
  margin-top: 50px;
}

.nav a{
  text-decoration: none;

  color: white;
  /* font-size: 12px; */
  font-family: 'Noto Sans KR', sans-serif;

  text-align: center;

  display: block;
  flex-direction: column;

  padding: 20px;
}

.nav a:hover{
  background-color: #D9E5FF;
  color: black; 
}