.sidebar {
    width: 200px;
    padding: 17px 10px 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collapsed {
    width: 60px;
  }


  ul{
    padding-inline-start: 0;
  }

  li{
    list-style-type: none;
  }

