.SignupId {
  margin-top: 30px;
  border-radius: 2px;
  width: 30%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}
input::placeholder {
  color: #999999;
}
.SignupPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 30%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}